/* ===== Reset y layout ===== */
@import url('@/styles/reset.css');
@import url('@/styles/layout.css');

/* ===== Foundations ===== */
@import url('@/styles/foundations/colors.css');
@import url('@/styles/foundations/typography.css');
@import url('@/styles/foundations/surfaces.css');

/* ===== Assets ===== */
@import url('@/styles/icons/icons.css');

/* ===== Components ===== */
@import url('@/styles/components/navbar.css');
@import url('@/styles/components/navbar-two.css');
@import url('@/styles/components/buttons.css');
@import url('@/styles/components/video-container.css');

