<!-- Footer -->
<footer class="footer" id="footer">
  <p class="small">
    © 2025. La Casa del Aire.<span data-key="components.footer.created-by">
      Creado por</span
    >
    <a
      href="https://alejandromorenomartin.com"
      target="_blank"
      rel="noopener noreferrer"
      class="small link link-external"
      >Alejandro Moreno</a
    >
  </p>
  <a
    class="small link"
    data-modal-target="modal-conditions"
    data-key="components.footer.conditions"
  >
    Condiciones
  </a>
</footer>
