<!-- modal-reserve -->
<div
  class="modals modal-reserve"
  id="modal-reserve"
  aria-hidden="true"
  role="dialog"
  aria-modal="true"
  aria-label="Reservation widget"
>
  <!-- Modal overlay -->
  <div class="modal__overlay" data-modal-close="true"></div>

  <!-- Modal content -->
  <div class="modal__content">
    <button
      class="button button-icon"
      aria-label="Cerrar ventana de reserva"
      data-modal-close="true"
    >
      <i class="fa-solid fa-xmark icon"></i>
    </button>

    <div class="modal__section">
      <p
        class="regular-bold"
        data-key="components.modals.reserve.title"
      >
        Reserva tu estancia
      </p>

      <p
        class="regular"
        data-key="components.modals.reserve.description-one"
      >
        El alquiler de la casa es de tipo íntegro y se pueden consultar precios para estancias personalizadas.
      </p>           
      <a
        href="https://wa.me/34637159169?text=Hola%2C%20vi%20La%20Casa%20del%20Aire%20y%20me%20gustar%C3%ADa%20poder%20hablar%20acerca%20de%20una%20reserva."
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Contact via WhatsApp"
        class="regular link link--external"
        data-key="components.modals.reserve.link"
      >
        Consulta con nosotros
      </a>
    </div>

    <div class="reserve-widget" id="amenitiz-widget">
      <!-- El iframe se inyectará aquí dinámicamente -->
    </div>
  </div>
</div>
