<!-- modal-menu -->
<div
  class="modals modal-menu"
  id="modal-menu"
  aria-hidden="true"
  role="dialog"
  aria-modal="true"
  aria-label="Navigation menu"
>
  <!-- Modal overlay -->
  <div
    class="modal__overlay"
    data-modal-close="true"
    style="background: transparent"
  ></div>

  <!-- Modal content -->
  <div class="modal__content">
    <!-- Páginas -->
    <section class="modal__section" aria-labelledby="modal-menu-pages">
      <span
        id="modal-menu-pages"
        class="small-bold"
        data-key="components.modals.menu.pages-section"
      >
        Páginas
      </span>

      <!-- Video -->
      <a
        href="./index.html"
        class="button button-content"
        data-nav-target="index.html"
        data-page="index"
      >
        <span class="regular" data-key="components.modals.menu.pages.visit">
          Visita
        </span>
        <!-- <i class="fa-solid fa-video icon"></i> -->
      </a>

      <!-- Home -->
      <a
        href="./home.html"
        class="button button-content"
        data-nav-target="home.html"
        data-page="home"
      >
        <span class="regular" data-key="components.modals.menu.pages.home">
          Casa
        </span>
        <!-- <i class="fa-solid fa-house icon"></i> -->
      </a>

      <!-- Environment -->
      <a
        href="./environment.html"
        class="button button-content"
        data-nav-target="environment.html"
        data-page="environment"
      >
        <span
          class="regular"
          data-key="components.modals.menu.pages.environment"
        >
          Entorno
        </span>
        <!-- <i class="fa-solid fa-seedling icon"></i> -->
      </a>
    </section>
  </div>
</div>
