<!-- navbar -->
<nav class="navbar" id="navbar">
  <!-- logo -->
  <a href="./index.html" class="navbar__logo" aria-label="Ir a inicio">
    <svg
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.77138 24.9025H2.66406L9.97261 8.0957H11.2406L18.5476 24.9025H16.3985L10.5744 11.5773L4.77138 24.9025Z"
        fill="#333333"
      />
      <path
        d="M20.2242 24.9025L19.437 22.9719H29.3307V24.9025H20.2242Z"
        fill="#333333"
      />
    </svg>
  </a>

  <div class="flex-row">
    <!-- Reserve button -->
    <button
      class="button button-primary"
      data-modal-target="modal-reserve"
      aria-label="Abrir ventana de reserva"
    >
      <span
        class="regular-bold"
        data-key="components.navbar.reserve"
      >
        Reservar
      </span>
    </button>

    <!-- Menu button -->
    <button
      class="button button-icon"
      data-modal-target="modal-menu"
      aria-label="Abrir menú de navegación"
    >
      <i class="fa-solid fa-bars icon" aria-hidden="true"></i>
    </button>
  </div>
</nav>
