/* ================================
COMPONENTS
================================ */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: var(--sp-sm) var(--sp-md);
  width: 100%;
  z-index: var(--z-three);
  height: var(--sp-xl);
}

.navbar-pages {
  background-color: var(--wh-500);
  border-bottom: var(--border-thin);
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--sp-sm) var(--sp-md);
  background-color: var(--wh-500);
  border-top: var(--border-thin);
  width: 100%;
}

.footer-credit {
  display: inline-flex;
  align-items: center;
  gap: var(--sp-xxs); 
  white-space: nowrap;
}

/* Video container */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--sp-sm);
  z-index: var(--z-zero);
}

.video-container .background-video video {
  border-radius: var(--br-0);
}

.video-container h2 {
  color: var(--wh-500);
  z-index: 1;
}

.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--linear-dark);
  z-index: 0;
}

.video-container .background-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.video-container .video-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: fit-content;
}

/* Reviews */
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--sp-sm);
}

.reviews-card {
  display: flex;
  flex-direction: column;
  gap: var(--sp-sm);
  background-color: var(--wh-500);
}

.reviews-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--sp-xs);
}

.reviews-card__header a {
  align-self: center;
}

.reviews-card__header img {
  height: var(--sp-lg);
  width: var(--sp-lg);
  border-radius: var(--br-full);
}

.reviews-card__info {
  display: flex;
  flex-direction: row;
  gap: var(--sp-xs);
  align-items: center;
}

/* ============================================
RESPONSIVE (≤1200px)
============================================ */
@media (max-width: 1200px) {
  :root {
    font-size: 87.5%;
  }

  .navbar {
    padding: var(--sp-sm);
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--sp-sm);
    gap: var(--sp-sm);
  }

  .footer .flex-row__item:first-child {
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
  }

  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
