<!-- modal-reserve -->
<div
  class="modal-reserve"
  id="modal-reserve"
  role="dialog"
  aria-modal="true"
  aria-label="Reservation form"
>
  <!-- Overlay (click to close) -->
  <div class="modal-reserve__overlay" data-modal-close="true"></div>

  <!-- Modal content -->
  <div class="modal-reserve__content">
    <button
      class="button-terciary button-close"
      aria-label="Close menu"
      data-modal-close="true"
    >
      <i class="fa-solid fa-xmark icon icon--rg" aria-hidden="true"></i>
    </button>

    <header class="modal-reserve__header">
      <p class="regular-bold" data-key="reserve.title">Reserva tu estancia</p>
      <p class="regular" data-key="reserve.subtitle">
        Consulta disponibilidad y confirma tu reserva.
      </p>
    </header>

    <div class="reserve-widget" id="amenitiz-widget">
      <!-- El iframe se inyectará aquí dinámicamente -->
    </div>
  </div>
</div>
