<!-- navbar -->
<nav class="navbar">
  <div class="flex-row_regular">
    <!-- Menu button -->
    <button
      class="button-secondary"
      aria-label="Open menu"
      data-modal-target="modal-menu"
    >
      <i class="fa-solid fa-bars icon icon--md" aria-hidden="true"></i>
    </button>

    <!-- Reserve button -->
    <button
      class="button-primary_regular"
      aria-label="Open reservation form"
      data-modal-target="modal-reserve"
    >
      <p class="regular-bold" data-key="components.navbar.reserve">Reserve</p>
    </button>
  </div>

  <button
    class="button-logo"
    aria-label="Open profile"
    data-modal-target="modal-profile"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="icon"
    >
      <path
        d="M3.58049 18.3024H2L7.48141 5.69727H8.4324L13.9127 18.3024H12.3008L7.93273 8.30844L3.58049 18.3024Z"
        fill="currentColor"
      />
      <path
        d="M15.1701 18.3024L14.5797 16.8544H22V18.3024H15.1701Z"
        fill="currentColor"
      />
    </svg>
  </button>
</nav>
