<!-- navbar -->
<nav class="navbar">
  <div class="flex-row_regular">
    <button class="button-secondary" aria-label="Abrir menú">
      <svg class="icon large" aria-hidden="true">
        <use href="/assets/icons/menu.svg"></use>
      </svg>
    </button>
    <button class="button-primary_regular">
      <p class="regular-bold" data-key="navbar.reserve">Reservarlo</p>      
    </button>
  </div>
  <button class="button-logo">
    <svg class="icon large" aria-hidden="true">
        <use href="/assets/icons/logo.svg"></use>
      </svg>
  </button>
</nav>
