/* =========================================
CSS RESET SIMPLIFICADO
========================================= */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--ff-base);
  color: var(--bl-300);
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

svg {
  display: block;
  fill: currentColor;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}
