.icon {
  display: inline-block;
  fill: var(--black-300); 
  stroke: currentColor;
  vertical-align: middle;
}

.icon.large {
  width: 1.5rem;
  height: 1.5rem; 
}

.icon.regular {
  width: 1.25rem;
  height: 1.25rem; 
}

.icon.medium {
  width: 1rem;
  height: 1rem; 
}

.icon.small {
  width: 0.75rem;
  height: 0.75rem; 
}

.icon.tiny {
  width: 0.5rem;
  height: 0.5rem; 
}
