name: Deploy to IONOS (dev)

on:
  push:
    branches: ["dev"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy la-casa-del-aire to IONOS /dev
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: ${{ secrets.SFTP_PORT }}
          local_path: "./la-casa-del-aire/*"
          remote_path: "/dev"
          sftp_only: false             # usamos rsync, permite excluir
          args: "--exclude 'assets/' --exclude '.github/' --exclude 'node_modules/' --exclude '.gitignore' --exclude 'package.json' --exclude 'package-lock.json' --exclude 'README.md'"
